/* 
    Document   : styles
    Created on : 29-May-2014, 11:50:10 PM
    Author     : Simon
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

.title {
    color: #808080;
}

#main-title .capital {
    font-family: 'Lobster', cursive;
    color: #00bcbc;
}

.background {
    background-image: url(/images/bg.jpg);
    background-position: center top;
    background-attachment: fixed;
    min-height: 1080px;
}

.avatar {
    height: 300px;
    background-image: url(/images/avatar.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.white-bg {
    background-color: #ffffff;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
}

#header > .jumbotron {
    position: relative;
    background: none;
    padding-bottom: 0;
}

#header {
    max-height: 355px;
    position: relative;
    border-bottom: 7px solid #00bcbc;
    margin-bottom: 30px;
}

#content .container {
    position: relative;
}
@media (max-width: 768px) {
    #header {
        max-height:507px  
    }
}