/* 
    Document   : styles
    Created on : 29-May-2014, 11:50:10 PM
    Author     : Simon
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.title{
}
.main-title{
    font-size:90px;
    color:#808080;
}
.background{
    background-image:url(/images/bg.jpg);
    background-position: center top;
    background-attachment:fixed;
    min-height:1080px;
}
.avatar{
    height:300px;
    background-image:url(/images/avatar.png);
    background-position: center top;
    background-repeat:no-repeat
}
.jumbotron.white-bg{
    padding-bottom: 0;
    background-color:#ffffff;
    opacity: 0.8;
    position:absolute;
}
.jumbotron > .container div{
    opacity:1;
}