/* 
    Document   : styles
    Created on : 29-May-2014, 11:50:10 PM
    Author     : Simon
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.title{
}
.main-title{
    font-size:120px;
    color:#ffffff;
}
.black-bg{
    background-color:#000000;
    opacity: 0.8;
}
.background{
    background-image:url(/images/bg.jpg);
    background-position: middle top;
}
.avatar{
    height:300px;
    background-image:url(/images/avatar.png);
    background-position: middle top;
}
.jumbotron.black-bg{
    padding-bottom: none;
}
.jumbotron > .container{
    opacity:1;
}