/* 
    Document   : styles
    Created on : 29-May-2014, 11:50:10 PM
    Author     : Simon
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.title{
}
.main-title{
    font-size:120px;
    color:#ffffff;
}