/* 
    Document   : styles
    Created on : 29-May-2014, 11:50:10 PM
    Author     : Simon
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

.title {
    color: #808080;
}

.capital {
    font-family: 'Lobster', cursive;
    color: #00bcbc;
}

.background {
    background-image: url(../images/bg.jpg);
    background-position: center top;
    background-attachment: fixed;
    min-height: 1080px;
}

.avatar {
    height: 300px;
    background-image: url(../images/avatar.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.white-bg {
    background-color: #ffffff;
}

header .jumbotron {
    margin-bottom: 0px;
    padding-bottom: 0px;
    background: none !important;
}

header {
    position: relative;
    border-bottom: 7px solid #00bcbc;
    margin-bottom: 30px;
}

#content .container {
    position: relative;
}
@media (max-width: 768px) {
    #header {
        max-height:507px  
    }
}
#jdm{
    text-shadow: -1px -3px 0px rgba(173, 255, 255, 0.8);
    font-family: 'Lobster', cursive;
    font-size:30px;
}
.porfolio-img{
    max-width: 250px;
}
a.no-decoration:hover{
    text-decoration:none;
}